@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.6;
}

@theme {
  --animate-appear: appear 0.4s ease-in-out;
  @keyframes appear {
    0%,
    100% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
